<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="A tool for obfuscating minecraft bedrock command code." name="description"/>
    <meta content="obfuscation, minecraft, code, bedrock, tool" name="keywords">
    <meta content="Quinten Cabo" name="author">
    <link href='{{url_for("static", filename="favicon.ico")}}' rel='icon' sizes="16x16" type='image/x-icon'/>

    <!-- Bootstrap CSS -->
    <link href='{{url_for("static", filename="css/bootstrap_dark.css")}}' rel="stylesheet">
    <title>Minecraft code obfuscator</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script async data-ad-client="ca-pub-9825615766394229"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169730373-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-169730373-1');
    </script>

</head>
<body>
<br>
<header>
    <div class="container text-center">
        <div class="col-md-12">
            <h1>Minecraft code obfuscator</h1>
            <p class="lead">Protect your minecraft bedrock code!</p>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}

        <div class="alert alert-dismissible fade show alert-{{ category }}"> {{ message }}
            <button class="close" data-dismiss="alert" type="button">&times;</button>
        </div>
        {% endfor %}
        {% endwith %}

    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img alt="minecraft obfuscator website logo " class="img-fluid"
                     src="{{url_for('static', filename='logo.png')}}">
            </div>

            <div class="col-sm-7">

                <form action="." enctype=multipart/form-data method="post">
                    <b><label for="blacklist_all"> Blacklist: </label></b>

                    <div class="form-row" id="blacklist_all">
                        <div class="form-group col-3">
                            <label for="function_blacklist">Functions:</label>
                            <textarea class="form-control" id="function_blacklist" name="function_blacklist"
                                      placeholder="Functions"
                                      rows="3"></textarea>
                            <div class="form-check">
                                <input class="form-check-input" id="greedy_functions" name="greedy_functions"
                                       type="checkbox">
                                <label class="form-check-label" data-toggle="tooltip" for="greedy_functions"
                                       title="A partial match is enough to be blacklisted so 'hi' on the blacklist would blacklist 'hi_there'">
                                    Partial match ⓘ</label>
                            </div>
                            <!--                            <div class="form-check">-->
                            <!--                                <input type="checkbox" class="form-check-input" name="whitelist_functions"-->
                            <!--                                       id="whitelist_functions">-->
                            <!--                                <label class="form-check-label" for="whitelist_functions" data-toggle="tooltip"-->
                            <!--                                       title="Make the blacklist a whitelist instead. So only obfuscate these names.">Whitelist</label>-->
                            <!--                            </div>-->

                        </div>
                        <div class="form-group col-3">
                            <label for="objective_blacklist">Objectives:</label>
                            <textarea class="form-control" id="objective_blacklist" name="objective_blacklist"
                                      placeholder="Objectives"
                                      rows="3"></textarea>
                            <div class="form-check">
                                <input class="form-check-input" id="greedy_objectives" name="greedy_objectives"
                                       type="checkbox">
                                <label class="form-check-label" data-toggle="tooltip"
                                       for="greedy_objectives"
                                       title="A partial match is enough to be blacklisted so 'hi' on the blacklist would blacklist 'hi_there'">Partial
                                    match ⓘ</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="whitelist_objectives" name="whitelist_objectives"
                                       type="checkbox">
                                <label class="form-check-label" data-toggle="tooltip" for="whitelist_objectives"
                                       title="Make the blacklist a whitelist instead. So only obfuscate these names.">Whitelist</label>
                            </div>

                        </div>
                        <div class="form-group col-3">
                            <label for="fake_players_blacklist">Fakeplayers:</label>
                            <textarea class="form-control" id="fake_players_blacklist" name="fake_players_blacklist"
                                      placeholder="Fake players"
                                      rows="3"></textarea>
                            <div class="form-check">
                                <input class="form-check-input" id="greedy_fake_players" name="greedy_fake_players"
                                       type="checkbox">
                                <label class="form-check-label" data-toggle="tooltip"
                                       for="greedy_fake_players"
                                       title="A partial match is enough to be blacklisted so 'hi' on the blacklist would blacklist 'hi_there'">Partial
                                    match ⓘ</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="whitelist_fake_players"
                                       name="whitelist_fake_players"
                                       type="checkbox">
                                <label class="form-check-label" data-toggle="tooltip" for="whitelist_fake_players"
                                       title="Make the blacklist a whitelist instead. So only obfuscate these names.">Whitelist</label>
                            </div>

                        </div>
                        <div class="form-group col-3">
                            <label for="tag_blacklist">Tags+Names:</label>
                            <textarea class="form-control" id="tag_blacklist" name="tag_blacklist" placeholder="Tags"
                                      rows="3"></textarea>
                            <div class="form-check">
                                <input class="form-check-input" id="greedy_tags" name="greedy_tags" type="checkbox">
                                <label class="form-check-label" data-toggle="tooltip" for="greedy_tags"
                                       title="A partial match is enough to be blacklisted so 'hi' on the blacklist would blacklist 'hi_there'">Partial
                                    match ⓘ</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="whitelist_tags" name="whitelist_tags"
                                       type="checkbox">
                                <label class="form-check-label" data-toggle="tooltip" for="whitelist_tags"
                                       title="Make the blacklist a whitelist instead. So only obfuscate these names.">Whitelist</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="character_pool">Character pool:</label>
                            <select class="form-control" id="character_pool" name="character_pool">
                                <option>O0</option>
                                <option>WV</option>
                                <option>NM</option>
                                <option>abcdefghijklmnopqrstuvwxyz_0123456789</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="name_length">Obfuscated name length:</label>
                            <input class="form-control" id="name_length" max="16" min="2" name="name_length"
                                   placeholder="Name length"
                                   type="number"
                                   value="16">
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <label for="datapack">Datapack zip folder</label>
                            <input accept="application/zip" class="form-control-file" id="datapack"
                                   name="datapack_zip_file"
                                   required type="file">
                        </div>
                        <div class="form-group col-md-6">
                            <input checked class="form-control-checkbox" id="context-file" name="context-file"
                                   type="checkbox">
                            <label data-toggle="tooltip" for="context-file"
                                   title="Add a .name_changes.json to the zip that has all name changes.">Include json
                                file with changes</label>

                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Obfuscate!</button>
                    <br>
                    <span class="text-muted">(Download will start automatically)</span>
                </form>
            </div>
        </div>
    </div>
</main>
<div class="container">
    <a href="https://discord.gg/Utc467M"><img alt="Discord logo and join" class="rounded float-right mt-4" height="100"
                                              src="{{ url_for('static', filename='Discord-Logo-White.png') }}"></a>
</div>
<footer class="footer fixed-bottom text-center py-3">
    <span><a href="/faq">FAQ</a> | <a href="/information">How to use?</a></span>
    <br>
    <span class="text-muted">Created by Quinten Cabo</span>
</footer>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


</body>
</html>